body {
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}
@media screen and (min-width: 768px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }
}
nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}
a {
    color: #007bff;
}
fieldset {
    border: 1px solid #ced4da;
}
h1,
h2,
strong,
legend {
    font-weight: 600;
}
input,
select {
    font-family: inherit;
}
main input[type="submit"],
main button {
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    margin: 1rem 0;
    padding: 0.4rem 1.2rem;
}
input[type="number"] {
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    font-size: inherit;
    padding: 0.3rem 0.5rem;
}
blockquote span {
    font-size: xx-large;
    font-weight: bold;
}
footer {
    color: #888;
}